{
  "openai": {
    "api_url": "https://api.x.ai/v1",
    "model": "grok-4-1-fast-non-reasoning",
    "api_key": "YOUR_API_KEY"
  },
  "github": [
    {
      "name": "owner1/repo1",
      "api_key": "YOUR_GITHUB_API_KEY_FOR_OWNER1_REPO1"
    },
    {
      "name": "owner2/*",
      "api_key": "YOUR_GITHUB_API_KEY_FOR_OWNER2"
    },
    {
      "name": "*",
      "api_key": "YOUR_DEFAULT_GITHUB_API_KEY_OPTIONAL"
    }
  ],
  "diff_unified_lines": 100,
  "normalization_mode": "strict"
}
